{
  "extends": [
    "standard"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      2,
      "never"
    ]
  },
  "parser": "babel-eslint",
  "globals": {
  }
}
